footer.bg-black {
  background-color: #0a0a0a !important;
}

footer .text-gradient {
  background: linear-gradient(to right, #d946ef, #8b5cf6);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
}
